*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.game {
  background-color: gray;
}
.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.box {
  background-color: white;
  width: 130px;
  height: 130px;
  font-size: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overly {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: #000000af;
  backdrop-filter: blur(4px);
}
.box.circle {
  color: #0c0c54;
}
.box.xmark {
  color: #00ffff;
}
.hidden {
  display: none;
}
.winner.hidden {
  display: none;
}

.winner {
  position: absolute;
  background-color: #1ee0dd;
  width: 400px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.winner h1 {
  font-size: 40px;
  font-family: sans-serif;
  color: white;
  padding: 10px 0;
  text-transform: capitalize;
}
.winner h1 .winnerName {
  font-size: 50px;
}
.winner button {
  padding: 10px;
  color: white;
  background-color: #0cce77;
  border: none;
  border-radius: 5px;
}
